<!-- Modal de cadastrar usuário -->

<div class="modal fade" id="cadastrarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar novo usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/usuarios/salvar" method="POST">
          <label>Nome:</label>
          <input type="text" class="form-control" name="name" required><br>

          <label>Data de nascimento:</label>
          <input type="date" class="form-control" name="birthdate" required> <br>

          <label>Email:</label>
          <input type="text" class="form-control" name="email" required> <br>

          <label>É administrador?</label> <br>
          <input type="radio" name="isAdmin" value="1" required> <span>Sim</span> <br>
          <input type="radio" name="isAdmin" value="0"> <span>Não</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        </div>
      </div>
    </div>
  </div>