<div class="container">
    <a class="btn btn-secondary" href="/usuarios"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Dados Pessoais </h1>
        </div>  
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <h2>Nome Completo: <strong><%= usuario.name %></strong></h2>
                </div>
                <div class="col-md-6">
                    <h2>Idade: <strong><%= moment(usuario.birthdate).format('L')%></strong></h2>  
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Email: <strong><%= usuario.email %></strong></h2>
                </div>
                <div class="col-md-6">
                    <h2>É administrador? <strong><%= usuario.isAdmin == 1 ? 'Sim' : 'Não' %></strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>